*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
#checkbox {
  display: none;
}
.toggle {
  height: 80px;
  width: 200px;
  
  border-radius: 9999px;
  background-color: rgb(197, 7, 7);
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* box-shadow: 6px 6px 10px #b40404f8; */
}

#checkbox:checked + .toggle {
  background-color: rgb(1, 133, 1);
  background-size: cover;
  
  /* box-shadow: 6px 6px 10px rgb(2, 80, 2); */
}

.toggle::before {
  content: "";
  height: 80px;
  width: 80px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  background-image: url(volleyball.jpg);
  transition: all 0.5s ease-in-out;
  
}

#checkbox:checked + .toggle::before {
  position: absolute;
  left: calc(100% - 80px);
}
